strict-peer-dependencies=false
shell-emulator=true
ignore-workspace-root-check=true
auto-install-peers=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=@babel/*
node-linker=hoisted