name: CI
on: [push]
env:
  NODE_OPTIONS: "--max_old_space_size=4096"
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["16.x", "18.x", "20.x"]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          version: "latest"

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm i

      - name: Lint
        run: pnpm lint

      - name: Build Packages
        run: pnpm p:build

      - name: Build Examples ${{ matrix.node }}
        if: matrix.node != '18.x'
        run: pnpm turbo run build --filter='./examples/*' --filter=!gatsby-typescript

      - name: Build Examples ${{ matrix.node }}
        if: matrix.node == '18.x'
        run: pnpm turbo run build --filter='./examples/*'
